Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /react_php_apis_project/backend/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) routing.php    [QSA,L]
